* {
  font-family: "Lato", ".SFNSText", "SFProText-Regular", "SFUIText-Regular",
    ".SFUIText", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgb(40, 40, 40);
}

p {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.points {
  list-style: disc;

  margin-block-start: 1em;

  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

nav.hidden {
  align-items: center;
  justify-content: space-between;
}
nav.hidden ul {
  display: flex;
  column-gap: 1rem;
  font-size: 1.2rem;
}
nav.hidden ul li {
  position: relative;
}

nav.mobile ul[role="menubar"].active {
  display: block;
}

nav.mobile ul[role="menubar"] {
  position: absolute;
  top: 3rem;
  left: 0rem;
  right: 0;
  display: none;
  background-color: white;
  padding-left: 8px;
  padding-bottom: 12px;
}
nav.mobile ul[role="menubar"] li {
  margin-block: 1rem;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

c-ontent input#modal_content_switch {
  display: none;
}

c-ontent > #content #card_list .card_wrapper input {
  display: none;
  touch-action: manipulation;
}

c-ontent > #content #card_list .card_wrapper {
  border: 1px solid black;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

c-ontent > #content #card_list .card_wrapper .card {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: 240px minmax(200px, 2fr) minmax(150px, 1fr);
}

@media screen and (max-width: 700px) {
  c-ontent > #content #card_list .card_wrapper .card {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}

c-ontent > #content #card_list .card_wrapper .card .picture {
  container: picture / inline-size;
  width: 100%;
  display: inline-flex;
}
c-ontent > #content #card_list .card_wrapper .card .picture img {
  display: none;
  height: auto;
  width: 100%;
  max-width: 500px;
  margin-top: 2px;
  border: 1px solid #ddd;
}

c-ontent > #content #card_list .card_wrapper .card .card_link {
  word-break: break-all;
}

c-ontent > #content #card_list .card_wrapper .card .card_title {
  font-weight: bold;
}

@container picture (0 < width <= 250px) {
  c-ontent > #content #card_list .card_wrapper .card .picture img.small_image {
    display: initial;
  }
}
@container picture (250px < width <= 500px) {
  c-ontent > #content #card_list .card_wrapper .card .picture img.medium_image {
    display: initial;
  }
}
@container picture (500px < width) {
  c-ontent > #content #card_list .card_wrapper .card .picture img.large_image {
    display: initial;
  }
}
